<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image, id: :post_image_data %>
  </div>

  <%= form.hidden_field :image_cropper_x, value: '10' %>
  <%= form.hidden_field :image_cropper_y, value: '10' %>
  <%= form.hidden_field :image_cropper_width, value: '100' %>
  <%= form.hidden_field :image_cropper_height, value: '100' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
